<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.chatit">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/Theme.Chatit.NoActionBar">
        <activity android:name=".User_info">
        </activity>
        <activity
                android:name=".Select_User"
                android:label="@string/title_activity_select__user"
                android:theme="@style/Theme.Chatit.NoActionBar.NoActionBar">
        </activity>
        <activity android:name=".Chat">
        </activity>

        <service
                android:name=".ServerConnect"
                android:enabled="true"
                android:exported="false"
                android:permission="android.permission.BIND_JOB_SERVICE">
        </service>

        <activity
                android:name=".Ask_Name"
                android:label="@string/title_activity_ask__name"
                android:theme="@style/Theme.Chatit.NoActionBar.NoActionBar">
        </activity>
        <activity
                android:name=".Chatlist"
                android:label="@string/title_activity_chatlist"
                android:theme="@style/Theme.Chatit.NoActionBar.NoActionBar">
        </activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>